.example-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 5px;

  >* {
    box-sizing: border-box;
    margin: 5px 10px;
    overflow-wrap: break-word;

    &:last-child {
      flex-grow: 1;
    }

    &:nth-child(even) {
      margin-left: 0;
    }
  }
}

.example-card {
  width: calc(50% - 15px);
  min-width: 190px;
}
